:root {
  --vanilla: #e2dbcb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow: hidden;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #eee8e8;
  color: #ffffff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7;
}

.btn:hover {
  background: var(--vanilla);
}

/* header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #584738;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem #eaeae2;
} */

/* mudar a cor da logo*/
header .logo {
  font-size: 3rem;
  color: rgb(214, 204, 204);
  font-weight: bolder;
}

header .logo span {
  color: var(--vanilla);
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5;
  color: #e7d7d7;
}

header .navbar a:hover {
  color: var(--vanilla);
}

header .icons a {
  font-size: 2.5rem;
  color: black;
  margin-left: 1.5rem;
}

toggler .icons a:hover {
  color: var(--vanilla);
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: #000000;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid #181818;
  display: none;
}

/* media queries */
@media (max-widht: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
}

section {
  padding: 2rem;
}

.home {
  background-position: left;
}

@media (max-widht: 768px) {
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #0a0a0a;
    border-top: 0.1rem solid #100f0f;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

header .navbar a {
  margin: 1.5rem;
  padding: 1.5rem;
  background: #584738;
  border-top: 0.1rem solid #584738;
  display: block;
}

.home .content h3 {
  font-size: 5rem;
}

.home .content span {
  font-size: 2.5rem;
}

@media (max-widht: 450px) {
  html {
    font-size: 50%;
  }
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../img/WhatsApp\ Image\ 2025-05-15\ at\ 14.20.52.jpeg)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
}

.home .content {
  font-size: 6rem;
  color: #000;
}

.home .content span {
  font-size: 3.5rem;
  color: var(--vanilla);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 3.5rem;
  color: var(--vanilla);
  padding: 1rem 0;
  line-height: 1.5;
}
